body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menuitem {
    display: inline;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


form.WorkOrderWizard label.error {
	display: block;
	margin-left: 1em;
	width: auto;
    color: red;
    font-style: italic;
}
form.WorkOrderWizard label {
	line-height: 1.8;
    vertical-align: top;
}



/* Styles for MultiSelect Max Select Messages
-----------------------------------------------------------*/
.success {
    background: none repeat scroll 0 0 #e6efc2;
    border-color: #c6d880;
    color: #264409;
}
.error {
    background: none repeat scroll 0 0 #fbe3e4;
    border-color: #fbc2c4;
    color: #8a1f11;
}
.error, .notice, .success {
    /*border: 2px solid #ddd;
    margin-bottom: 1em;
    padding: 0.8em;*/
}
.message {
    display: block;
    margin: 15px 0;
    padding: 10px;
    text-align: left;
}



#TaskDesc {
    width: 300px;
}
#WONotes {
    width: 300px;
}

#EmployeeNo {
    width: 100px;
}

/*makes my datatables search, excel and csv buttons align to the left*/
div.DTTT_container {
    float: left; 
    margin: 0;
}

/*puts the show qty entries under the above mentioned buttons and give a padding to them*/
.dataTables_length {
    clear: left;
    padding-top: 10px;
}