@{
    ViewBag.Title = "Work Order Home Page";
}


<h2>Work Order Home Page</h2>
<br>
<br>
<div id="PersonalSwitcher" ></div>
<p>
    @Html.ActionLink("Create Work Orders", "CreateWorkOrders", "Home")
</p>
<p>
    @Html.ActionLink("View Work Orders", "ViewWorkOrders", "Home")
</p>


@section Scripts{
    <script type="text/javascript">
        var sImagesURL = '@Url.Content("~/Content/images/")';

    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/index")">
    </script>
}