@{
    ViewBag.Title = "Work Orders";
}


<br>
<br>
<h2>Set the Style...</h2>
<br>
<br>
<div id="PersonalSwitcher" ></div>



@section Scripts{
    <script type="text/javascript">
        var sImagesURL = '@Url.Content("~/Content/images/")';
        var sWOTypesURL = '@Url.Action("WorkOrderTypes", "MP2")';
        var sWOEquipmentListURL = '@Url.Action("EquipmentList", "MP2")';

    </script>
}